streamlit
yt-dlp
moviepy
opencv-python
scenedetect
faster-whisper
transformers
Pillow
groq
python-dotenv
soundfile
python-multipart
torch==2.2.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.17.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
torchaudio==2.2.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
